BODY {
	background: #ffffff url(/gif/background.gif);
}

DIV {
	color:			#000000;
	background:		#ffd700;

	margin-left:	0.1em;
	margin-right:	0.1em;
	margin-top:		1em;

	font-family:	times, serif;
	text-align:		justify;

	border-style:	solid;
	border-color:	black;
	border-width:	thick;

	padding:		1em;
}

STRONG {
	color: red
}

